<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h5>Links</h5>
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/portfolio/about.html">About</a></li>
                <li><a href="/portfolio/projects.html">Projects</a></li>
                <li><a href="/portfolio/contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h5>Social</h5>
            <div class="social-icons">
                <a href="#" style="background: #4267b2;" class="link" aria-label="Facebook">
                    <i class='bx bxl-facebook'></i>
                </a>
                <a href="#" style="background: #1da1f2;" class="link" aria-label="Twitter">
                    <i class='bx bxl-twitter'></i>
                </a>
                <a href="#" style="background: #e1306c;" class="link" aria-label="Instagram">
                    <i class='bx bxl-instagram'></i>
                </a>
                <a href="#" style="background: #ff0000;" class="link" aria-label="YouTube">
                    <i class='bx bxl-youtube'></i>
                </a>
            </div>
        </div>
        <div class="footer-section contact-info">
            <h5>Contact Us</h5>
            <p>Tel: <a href="tel:5037508996"> (503)-750-8996</a></p>
            <p>Email: <a href="mailto:michaelthomas.pdx@gmail.com">michaelthomas.pdx@gmail.com</a></p>
        </div>
    </div>
</footer>
